@import url("style.css");

/*****Modal*****/
.modal {
  /*Position*/
  position: absolute;
  top: 25%;
  left: 18%;
  z-index: 10;

  /*box-model*/
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: 2px solid var(--colorOrange);
  border-radius: 8px;
}

/*Modal header*/
.modalHeader {
  justify-content: space-between;
}

/*Container  Alert*/
.containerAlert {
  justify-content: flex-start;
  gap: 10px;
}

#modalInputLength {
  margin-top: 10px;
}

/*Button*/
.buttonModal {
  /*box-model*/
  width: 32px;
  height: 32px;
  background-color: var(--colorWhite);
  border: none;

  /*Display stuff*/
  align-items: center;

  /*typography*/
  color: var(--colorBlueDark);

  /*Geral settings*/
  cursor: pointer;
  transition: 0.3s;
}
.buttonModal:hover {
  /*box-model*/
  color: var(--colorRed);
}

.svg {
  width: 24px;
  height: 24px;
}

#imageAlert {
  width: 16px;
  height: 16px;
}

.titleAlert {
  font-family: var(--fontTitle);
  font-size: 16px;
}

.messageAlert {
  font-size: 14px;
  font-family: var(--fontContent);
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 260px;
  }

  #imageAlert {
    width: 24px;
    height: 24px;
  }

  .titleAlert {
    font-size: 18px;
  }

  .svg {
    width: 32px;
    height: 32px;
  }

  .messageAlert {
    font-size: 16px;
  }
}
