@import url("header.css");

body {
  background-color: var(--colorBlueDark);
}

#formAddContact{
margin-top:40px;

}


.title {
  text-align: left;
  font-size: 16px;
}


#titleContact {
    color:var(--colorBlueLight);
    font-size: 16px;
    font-family:var(--fontContent);
    text-transform:uppercase;
  }


