@import url("style.css");

body {
  /*Box model*/
  background: var(--colorGray);

  /*Typograph*/
  font-family: var(--fontContent);
}

#formSignup,
.containerInput {
  display: flex;
}

#formSignup {
  /*Box model*/
  width: 80%;
  padding: 30px;
  max-width: 360px;
  border-radius: 16px;
  background-color: var(--colorBlueDark);
  color: var(--corWhite);
  margin: 0px auto;
  margin-top: 10%;

  /*Display stuff*/
  gap: 20px;
}

.title {
  text-align: center;
  font-size: 20px;
}

.containerInput {
  position: relative;
  flex-direction: column;
  gap: 10px;
}

.label {
  /*Typograph*/
  font-size: 18px;
  color: var(--colorWhite);
}

.input {
  /*Box model*/
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;

  /*Typograph*/
  font-size: 16px;
}

.input:focus {
  border: 2px solid var(--colorBlueLight);
}

#icone_olho {
  /*Position*/
  position: absolute;
  bottom: 9%;
  right: 7%;

  /*Typograph*/
  font-size: 20px;
  color: var(--colorBlack);
}

#icone_olho:hover {
  color: var(--colorBlueLight);
  cursor: pointer;
}

#containerOutput {
  justify-content: space-between;
}

.button {
  width: 104px;
  height: 40px;
}

