@import url("style.css");

body {
  height: 100vh;
}

/*****Header*****/
#header {
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

/*Container navigation*/
#containerNavigation {
  justify-content: space-between;
}

#logo {
  width: 40px;
  height: 33px;
}

.buttonHamburger {
  /*Box model*/
  width: 32px;
  background-color: transparent;
  border: none;
  color: var(--colorWhite);
}

/*Navigation*/
#navigationHeader {
  /*Position*/
  position: absolute;
  top: 0;
  right: -180px;
  /*Display stuff*/
  align-items: center;
  z-index: 7;
  display: none;

  /*Box model*/
  max-width: 200px;
  padding: 20px;
  background-color: var(--colorBlueDark7);

  animation-duration: 1s;
}

/*Moves the sidebar*/
@keyframes showSidebar {
  from {
    right: -180px; /*hide the sidebar*/
  }
  to {
    right: 0px; /*show the sidebar*/
  }
}

#buttonClose {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  color: var(--colorWhite);
}

#buttonClose:hover {
  color: var(--colorRed);
  cursor: pointer;
}

.svg {
  width: 32px;
  height: 32px;
}

.link {
  color: var(--colorWhite);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.theUserName {
  font-size: 14px;
}

#main {
  margin-top: 20px;
  height: 80%;
}

/****Container images****/
#containerImage {
  margin: 0 auto;
}

.image {
  max-width: 944px;
  max-height: 600px;
}

/****Desktop*****/

@media screen and (min-width: 768px) {
  #header {
    padding: 40px;
  }

  #logo {
    width: 64px;
    height: 53px;
  }

  .buttonHamburger {
    display: none;
  }

  #navigationHeader {
    /*Display stuff*/
    display: flex;
    flex-direction: row;

    /*Position*/
    position: relative;
    right: 60px;
    /*Box model*/
    max-width: 640px;
    padding: 0px;
    background-color: var(--colorBlueDark);
  }

  #buttonClose {
    display: none;
  }

  .theUserName {
    font-size: 16px;
  }
  /****Main****/
  #main {
    padding: 40px;
    height: auto;
  }
}
