@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf"),
    url("../fonts/Roboto/Roboto-Bold.ttf"),
    url("../fonts/Roboto/Roboto-Medium.ttf"),
    url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Popins";
  src: url("../fonts/Poppins/Poppins-Black.ttf"),
    url("../fonts/Poppins/Poppins-Bold.ttf"),
    url("../fonts/Poppins/Poppins-Medium.ttf"),
    url("../fonts/Poppins/Poppins-Regular.ttf");
}

:root {
  /*Colors
  --colorGreen: #2afc98;*/
  --colorBlack: #000000;
  --colorWhite: #fff;
  --colorGray: #ebf2fa;
  --colorBlueDark: #0d1321;
  --colorBlueLight: #05b2dc;
  --colorBlueLight30: #50c9e7;
  --colorOrange: #fcca46;
  --colorOrangeLight30: #fdda7e;
  --colorRed: #fe4a49;
  --colorRedLight20: #fe6e6d;

  /*Fonts*/
  --fontTitle: "Roboto", serif;
  --fontContent: "Poppins", serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  /*Box model*/
  background: var(--colorBlueDark);
  height: 100%;

  /*Typograph*/
  font-family: var(--fontContent);
  font-size: 16px;
}


/*Flexbox*/
#main,
.flexRow,
.flexColumn {
  display: flex;
}
.flexRow {
  flex-direction: row;
  gap: 20px;
}

.flexColumn {
  flex-direction: column;
  gap: 20px;
}

/*Header*/
#header {
  /*Box model*/
  padding: 0px 20px;
  padding-top: 20px;
}

#navbar {
  /*Box model*/
  width: 100%;
  max-width: 400px;

  /*Display stuff*/
  justify-content: space-between;
}

.image {
  width: 100%;
}

#logo {
  width: 40px;
  height: 33px;
}

.button {
  /*Box model*/
  width: 72px;
  height: 40px;
  border: none;
  border-radius: 8px;

  /*Typograph*/
  font-family: var(--fontTitle);
  text-align: center;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
}

#buttonLogin,.buttonOrange {
  background-color: var(--colorOrange);
}

#buttonLogin,.buttonOrange:hover {
  background-color: var(--colorOrangeLight30);
}

#buttonSignup,.buttonBlue {
  background-color: var(--colorBlueLight);
}

#buttonSignup,.buttonBlue:hover {
  background-color: var(--colorBlueLight30);
}

.buttonRed {
  background-color: var(--colorRed);
}

.buttonRed:hover {
  background-color: var(--colorRedLight20);
}

/*End of the header*/

/*****Main*****/
#main {
  /*Box model*/
  margin-top: 60px;
  padding: 20px;

  /*Display stuff*/
  flex-direction: column;
  gap: 40px;
}

.sessionText {
  gap: 10px;
}

.paragraph {
  /*Box model*/
  max-width: 600px;

  /*Typograph*/
  font-size: 16px;
  font-family: var(--fontContent);
  color: var(--colorWhite);
}

/*Text headers*/
.title {
  font-family: var(--fontTitle);
  color: var(--colorWhite);
}

h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}

/*Small texts*/
.smallText {
  font-size: 14px;
  color: var(--colorWhite);
}


/*Session images*/

@media screen and (min-width: 600px) {
  #containerImages {
    flex-direction: row;
  }
}

.pictureWoman {
  max-width: 280px;
  max-height: 240px;
}

/*Sesion benefits*/
#list {
  gap: 10px;
}

/*Footer*/
#footer {
  /*Box model*/
  margin-top: 60px;
  padding: 20px;
  border-top: 2px solid var(--colorBlueLight);

  /*Display stuff*/
  align-items: center;
}

.paragraphFooter {
  /*Typograph*/
  width: 100%;
  text-align: center;
}
