@import url("style.css");

h1 {
  /*Typograph*/
  text-align: center;
  font-size: 28px;
}

.container {
  /*Display stuff*/
  gap: 20px;
}

/*Inputs*/
.input {
  /*Box model*/
  width: 172px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;

  /*Typograph*/
  font-size: 16px;
}

.province{
/*Typograph*/
color:var(--cor-botao-limpar);
font-size:18px;
}



#buttonShow {
  width: 120px;
  height: 40px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: var(--cor-botao-enviar);
  color: var(--cor-preto);
}

#buttonShow:hover {
  background-color: var(--cor-botao-enviar-hover);
  cursor: pointer;
}
